{% extends 'auctions/base.html' %}

{% block title %}
About | eAuction Pune
{% endblock %}

{% block body %}

{% include 'auctions/header.html' %}

<div class="wrapper-about">
    <div class="text-title">About eAuction Pune</div>
    <h4>A Platform to Buy in and Sell Out</h4>
    <p class="text-responsive">
        <span style="font-size:larger;">A</span>n online auction (or also electronic auction or e-auction or
        eAuction) is an
        auction
        which is held over the internet. The scope and reach of these auctions have been propelled by the
        Internet to a level beyond what the initial purveyors had anticipated. This is mainly because
        online auctions break down and remove the physical limitations of traditional auctions such as
        geography, presence, time, space, and a small target audience.
    </p>
    <p class="text-responsive">eAuction Pune is a platform for Government Departments to conduct online
        actions for sale and purchase. It removes all barriers of geography,
        presence, time, space, and a small target audience. Propelled by a
        versatile, safe and secured engine developed by National Informatics
        Centre, many users have witnessed multi fold increase in revenue in
        auctions conducted over a diverse range.
    </p>
</div>

{% include 'auctions/footer.html' %}

{% endblock %}